body {
  font-family: "Plus Jakarta Sans", sans-serif !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex: 1;
}

.navbar {
  height: 5rem;
}

.fa-compass {
  color: rgb(250, 40, 75);
  font-size: 2rem;
}

.nav-link {
  color: #222222 !important;
  font-weight: bold !important;
}

.info {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
}

.links {
  margin-bottom: 1rem;
}
.links a {
  text-decoration: none;
  color: #222222;
}
footer {
  height: 8rem;
  background-color: rgb(224, 236, 246);
}

/* card */

.cardx {
  margin-bottom: 2rem;
  margin-top: 2rem;
  border: none !important ;
}
.card-img-top {
  width: 100% !important;
  height: 20rem !important;
  object-fit: cover !important;
  opacity: 1;
  border-radius: 1rem !important;
}
.card-text {
  font-weight: 600;
}
.anc {
  text-decoration: none !important;
}
.card-img-top:hover {
  opacity: 0.8;
  background-color: white;
}

.xbtn {
  color: white !important;
  background-color: rgb(250, 40, 75) !important;
  border: none !important;
}
.navbtn{
  background-color: rgb(248, 59, 91) !important;
  border: none !important;

}

/* map token */
#map {
  height: 60vh;
  width: 50vw;
  border-radius: 0.5rem;
}

/* slider */
#filters{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.filter{
  margin-right: 3rem;
  margin-top: 1rem;
  text-align: center;
  opacity: 0.8;
}
.filter:hover{
  opacity: 1;
  cursor: pointer;
}
.filter p{
  font-size: 0.9rem;
}

.tax-toggle{
  border: 0.5px solid black;
  border-radius: 0.7rem;
  padding: 1rem;
  height: 2.5rem; 
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.textinfo{
  display: none;
}
/* NAV SEARCH */
.search-btn{
  background-color: rgb(250, 40, 75)!important;
  border-radius: 30px!important;
  padding: 0 1rem 0 1rem!important;
  color: white!important;
  }
  .search-btn:hover{
  background-color: rgb(250, 40, 75)!important;
  }
  .search-btn i{
    display: inline!important;
    margin-right: 0.5rem!important;
  }
  .search-inp{
    border-radius: 30px!important;
    padding: 0.4rem 3rem 0.4rem 3rem!important;
  }
  /* NAV TOGGGLE */
  @media (max-width: 991px) {
    .navbtndiv {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    .navbtndiv button {
      width: 80%;
      margin-top: 2rem;
    }

    .navbtndiv>a {
      font-size: 1.5rem;
      margin-top: 3rem;
    }

    .searchbar {
      position: fixed;
      top: 10%;
    }
    .explore {
      font-size: 1.5rem;
      margin-top: 5rem;
      text-align: center;
    }
  }