<footer>
    <div class="info">
        <div class="socilmedia">
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
        <div>&copy;Wonder Lust Private Limited</div>
        <div class="links">
            <a href="">Terms</a>
            <a href="">Privacy</a>
        </div>
    </div>
</footer>